<?xml version="1.0" encoding="UTF-8"?>
<!-- Application context definition for PetClinic on JDBC. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 自动扫描 mybatis mapper接口 -->
	<!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> -->
	<!-- <property name="basePackage" value="com.eebbk.forum.dao.mapper" /> -->
	<!-- <property name="sqlSessionFactoryBeanName" value="baseSQLSessionFactory" 
		/> -->
	<!-- </bean> -->

	<!-- the path where the swagger.properties file can be found -->
	<!-- <bean id="propertyConfigurer" -->
	<!-- class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
	<!-- <property name="location" value="classpath:swagger.properties" /> -->
	<!-- </bean> -->
	<!-- creates a controller at /api-docs from this uri, which serves swagger's 
		raw documentation in JSON format. -->
	<bean class="com.spg.apidoc.common.configer.MySwaggerConfig" />

</beans>
